
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .carousel-inner{
    height: 800px;


}

.carousel-item{
    height: 100% !important;
    width:  100% !important;

}
.navbar-brand img{
  margin-top: -15px;
  height:80px;
}


.carousel-caption{
  margin:auto;
  margin-bottom:20%;


}

.carousel-caption h5{
  font-size: 7em;
  margin: auto;

}
.carousel-caption p{
  font-size: 1.9em;


}
